<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="static/css/main.css" rel="stylesheet">
    <script src="static/js/ajax.js"></script>
</head>
<body>
    <div>
        <p>Votre recherche de maladie rare: </p>
        <input id="searchString" name="searchString" type="text"/>
        <button id="searchButton" type="button">Search</button>
    </div>
</body>