<!DOCTYPE html>
<html>
    <head>
        <title>RDSearch</title>
        
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Style -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
        
    </head>

    <body class="w3-light-grey">

        <!-- Top container -->
        <% include ../partials/topcontainer %>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-top:43px;">

            <div class="w3-container w3-center" style="padding-top:22px">
                <h1 style="font-size: 400%"><b> Error 404: Page not found</b></h1>
                <p>Woops. Looks like this page doesn't exist.</p>
                <p>Go back to <a href="/">homepage</a></p>
            </div>

            <!-- Footer -->
            <% include ../partials/footer %>

            <!-- End page content -->
        </div>
        
        <!-- Sidebarscript -->
        <% include ../partials/sidebarscript %>

    </body>
</html>