<!DOCTYPE html>
<html>
    <head>
        <!-- Head generic Content -->
        <% include ../partials/headContent %>
        
    </head>

    <body class="w3-light-grey">

        <!-- Top container -->
        <% include ../partials/topcontainer %>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-top:43px;">

            <div class="w3-container w3-center" style="padding-top:22px">
                <h1 style="font-size: 400%"><b> Error 404: Page not found</b></h1>
                <p>Woops. Looks like this page doesn't exist.</p>
                <p>Go back to <a href="/">homepage</a></p>
            </div>

            <!-- Footer -->
            <% include ../partials/footer %>

            <!-- End page content -->
        </div>
        
        <!-- Sidebarscript -->
        <% include ../partials/sidebarscript %>

    </body>
</html>