<!DOCTYPE html>
<html>

    <head>
        <!-- Head generic Content -->
        <% include ../partials/headContent %>

        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            .bgimg {
                background-image: url('/static/imgs/fond.jpg');
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }
        </style>

        <!-- My AJAX -->
        <script src="/static/js/ajax.js"></script>

    </head>
    <body>

        <div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
            <div class="w3-display-topleft w3-padding-large w3-xlarge">
                Logo
            </div>
            <div class="w3-display-middle w3-twothird w3-container">
                
                <div class="w3-panel w3-white w3-border">
                    <h1><%= disease.name %></h1>
                </div>
                <div class="w3-panel w3-white w3-border">
                    <p><%= 
                        (function()
                         {
                            if(disease.description != "")
                            {
                                return disease.description;
                            }
                            else
                            {
                                return "No description";
                            }
                        })(); %></p>
                </div>
                <h4>Go back to <a href="/">homepage</a></h4>
            </div>

            <div class="w3-display-bottomleft w3-padding-large">
                Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
            </div>
        </div>

    </body>
</html>