<!DOCTYPE html>
<html>
    <head>
        <title>RDSearch</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>

        <!-- My AJAX -->
        <script src="static/js/ajax.js"></script>
    </head>

    <body class="w3-light-grey">

        <!-- Top container -->
        <% include ../partials/topcontainer %>

        <!-- Sidebar/menu and Overlay effect on small screen-->
        <% include ../partials/sidebar %>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">

            <!-- Header -->
            <header class="w3-container" style="padding-top:22px">
                <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
            </header>

            <!-- Research -->
            <div class="w3-panel">
                <p>Votre recherche de maladie rare: </p>
                <input class="w3-input w3-third" id="searchString" name="searchString" type="text"/>
                <button class="w3-btn w3-ripple w3-red w3-margin-left" id="searchButton" type="button">Search</button>
            </div>

            <div class="w3-panel" id="respanel">
                <p  style="display:none" id="loadicon"><i class="w3-jumbo w3-spin fa fa-refresh"></i></p>
            </div>

            <!-- Footer -->
            <% include ../partials/footer %>

            <!-- End page content -->
        </div>

        <!-- Sidebarscript -->
        <% include ../partials/sidebarscript %>

    </body>
</html>